<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Add this to your <head> section -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
